---
title: "R Notebook"
output: html_notebook
---

This is an [R Markdown](http://rmarkdown.rstudio.com) Notebook. When you execute code within the notebook, the results appear beneath the code. 

Try executing this chunk by clicking the *Run* button within the chunk or by placing your cursor inside it and pressing *Ctrl+Shift+Enter*. 

```{r}
#cargamos libreria

library(caret)

#cargamos data set

auto <-  read.csv("../Desktop/sebastian/r studio/cheat sheet/auto-mpg.csv.txt")

# cambiamos la variable cylinders a factor
auto$cylinders <- factor(auto$cylinders,
                         levels = c(3,4,5,6,8),
                         labels = c("3c" , "4c" ,"5c","6c","8c" ))

# plantamos la semilla 

set.seed(2018)

#creamos el t.id 

t.id <- createDataPartition(auto$cylinders, p=0.7 , list = FALSE, )

names(auto)

# creammos el modelo lineal con los datos

mod <- lm(mpg ~ ., data = auto[t.id,-c(1,8,9)] )


mod

#resumen del modelo

summary(mod)


# plot los residuos

boxplot(mod$residuals)


library(MASS)

# buscamos un modelo que defina las variables significativas 

step.model <- stepAIC(mod, direction = "backward")

summary(step.model)

step.model$anova
